/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
 }
 
 *, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 
 :focus, :active {
	outline: none;
 }
 
 a:focus, a:active {
	outline: none;
 }
 
 nav, footer, header, aside {
	display: block;
 }
 
 html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 
 input, button, textarea {
	font-family: inherit;
 }
 
 input::-ms-clear {
	display: none;
 }
 
 button {
	cursor: pointer;
 }
 
 button::-moz-focus-inner {
	padding: 0;
	border: 0;
 }
 
 a, a:visited {
	text-decoration: none;
 }
 
 a:hover {
	text-decoration: none;
 }
 
 ul li {
	list-style: none;
 }
 
 img {
	vertical-align: top;
 }
 
 h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
 }
 
 /*--------------------*/

 body {
 }

 .container{
	width: 900px;
	height: 5000px;
	margin: 0px auto;
	padding-top: 60px;
   background: rgba(124, 167, 132, 0.733) 20px 50% no-repeat;
	border: 1px solid;
 }

 header {
	height: 300px;
	font-size: 30px;
	text-transform: uppercase;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 100px;
 }
 
 h1 {	
	order:2;
	line-height: 35px;
 }
p {
	font-size: 20px;
	}
 .photo {
	width: 200px;
	height: 270px;
	background: url('img/photo.jpg');
	background-position: 0 0;
   background-repeat: no-repeat;
   background-size: 200px 270px;
	order: 1;
}
